<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${title}">ARPS 1.10</title>

    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/css/main.css}"/>-->

</head>

<body>
<h2 th:text="${message}"></h2>
<form action="/" method="post" enctype="multipart/form-data">
    <input type="submit" value="HOME">
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->
    <!--<a class="navbar-brand" href="#">Mkyong.com</a>-->
<!--</nav>-->

<main role="main" class="container">

    <div class="starter-template" >
        <!--<h1><span th:text="'Объект: ' + ${arps3}"></span></h1>-->
        <h3 th:each="task : ${arps3}" th:text="${task}"></h3>
    </div>

    <!--<ol><li th:each="task : ${arps20}" th:text="${task}"></li></ol>-->
    <table border="0">
        <caption hidden="hidden"><h2> Тип 20 – Позиция документа </h2></caption>
        <tr th:each="task : ${arps20}" >
            <td th:text="${task[0]}" align="right" width="1%"/>
            <td th:text="${task[1]}"  align="center" width="10%"/>
            <td th:text="${task[2]}" align="center" width="5%"/>
            <td th:text="${task[3]}" align="left" width="30%"/>
            <td th:text="${task[4]}" align="right"/>
            <td th:text="${task[5]}" align="right"/>
            <td th:text="${task[6]}" align="right"/>
            <td th:text="${task[7]}" align="right"/>
            <td th:text="${task[8]}" align="right"/>
            <td th:text="${task[9]}" align="right"/>
            <td th:text="${task[10]}" align="right"/>
            <td th:text="${task[11]}" align="right"/>
            <td th:text="${task[12]}" align="right"/>
            <td th:text="${task[13]}" align="right"/>
            <td th:text="${task[14]}" align="right"/>
            <td th:text="${task[15]}" align="right"/>
            <td th:text="${task[16]}" align="right"/>
            <td th:text="${task[17]}" align="right"/>
            <td th:text="${task[18]}" align="right"/>
            <td th:text="${task[19]}" align="right"/>
            <td th:text="${task[20]}" align="right"/>
            <td th:text="${task[21]}" align="right"/>
            <td th:text="${task[22]}" align="right"/>
            <td th:text="${task[23]}" align="right"/>
            <td th:text="${task[24]}" align="right"/>
            <td th:text="${task[25]}" align="right"/>
            <td th:text="${task[26]}" align="right"/>
            <!--<td th:text="${task[27]}" />-->
            <!--<td th:text="${task[28]}" />-->
            <!--<td th:text="${task[29]}" />-->
        </tr>
    </table>

    <!--<ol><li th:each="task : ${arps30}" th:text="${task}"></li></ol>-->
    <table border="1" hidden>
        <caption hidden="true"><h2> Тип 30 – Ресурс </h2></caption>
        <tr th:each="task : ${arps30}" >
            <td th:text="${task[0]}" width="1%" align="center"/>
            <td th:text="${task[1]}" align="center" width="15%"/>
            <td th:text="${task[2]}" align="left" width="10%"/>
            <td th:text="${task[3]}" align="center" width="50%" />
            <td th:text="${task[4]}" align="right" />
            <td th:text="${task[5]}" align="right" />
            <td th:text="${task[6]}" align="right" />
            <td th:text="${task[7]}" align="right" />
            <!--<td th:text="${task[8]}" align="left" width="10%" />-->
        </tr>
    </table>


    <table border="0" align="right">
        <caption hidden="true"><h2> Тип 50 – лимитированные затраты </h2></caption>
        <tr th:each="task : ${arps50}" >
            <td th:text="${task[0]}"/>
            <td th:text="${task[1]}" align="right"/>
        </tr>
    </table>

</main>
 <!--/.container -->

<!--<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>-->
</body>
</html>