<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="submit" value="HOME"/>

        <!--/*@thymesVar id="name" type=""*/-->
        <h2 th:text="${name}" />
        <!--/*@thymesVar id="title" type=""*/-->
        <h1 th:text="${title}">ARPS 1.10</h1>
        <!--/*@thymesVar id="subtitle" type=""*/-->
        <h3 th:text="'Объект: ' + ${subtitle}" />
        <!--/*@thymesVar id="persons" type=""*/-->
        <h3 th:text="${persons}" />
    </form>
</div>

</body>
</html>